<div class="form-inline">
<%= form_tag url_for(:controller=>"dashboard",:action =>"assign")  do %>

  <div class="form-group">
<%= number_field(:tid, nil,placeholder: 'Ticket ID *', class: "form-control")%>
</div>
<div class="form-group">
<%=select_tag :uid, options_from_collection_for_select(@users, "id", "name"),:prompt => "Assign To",class: "form-control"%>
</div>

 <%= submit_tag 'Assign', class: "btn btn-primary"%>

	<%end%>

</div>