<h2>Error Occured</h2>
<% if @tracker.errors.any? %>
    <div class="alert-d alert-danger">
      <ul>
      <% @tracker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br />
<%= link_to 'Back', dashboard_path, class: "btn btn-xs btn-default-tracker", role: "botton" %>
