<%= render :partial => "/trackers/form.html.erb"%>
<%if notice !=nil%>
<p class="alert-tracker alert-success-tracker"><%= notice %></p>
<%end%>

<h1 style="text-align:center;">Recent Tickets</h1>

<div class="refresh-dynamic">
<%= render :partial => "table"%>
</div>


