
<%if notice !=nil%>
<p class="alert-tracker alert-success-tracker"><%= notice %></p>
<%end%>



<h1 style="text-align:center;">All Tickets</h1>
<h5 style="text-align:center;">Export:
  <%= link_to "CSV", trackers_path(format: "csv") %> |
  <%= link_to "Excel", trackers_path(format: "xls") %></h5>

<div class="index-dynamic">
<%= render :partial => "table"%>
</div>



