
<p>
  <strong>Pull Request:</strong><br>
  <textarea style="height:100px; width:900px;">Hi Raji,

Please pull the staging candidate group "<%= @tracker.staging %>" for changes done in gamma.</textarea>
</p>


<p>
  <strong>Live:</strong><br>
  <textarea style="height:100px; width:500px;">Hi <%= @tracker.owner %>,

Changes are live in Production.</textarea>
</p>

