.tt{
color: #666666;
width: 50%;
border: 1px solid #E6E6E6;
border-radius: 0px; 
height: 40px;
margin: 6px auto;
text-indent: 10px;
}

.form{
	width:50%;
	margin: 0 auto;
	text-align:center;
}

.btn-submit-one {
color: #FFFFFF;
font-size: 15px;
text-transform: uppercase;
/*background: #c91717;*/
background: #666;
padding: 10px 10px;
border: 0;
margin-top: 6px;
}